# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/


# Git & editors
.git/
.gitignore
.vscode/
.idea/
*.swp
.DS_Store


# Local env files
.env
.env.local

# Docker itself
Dockerfile
.dockerignore