# Baza danych
history.db

# Pliki wgrywane przez użytkowników
uploads/

# Konfiguracje IDE i edytorów
.idea/

# Cache Pythona i testów
__pycache__/
.pytest_cache/

# Pliki konfiguracyjne z hasłami (bardzo ważne!)
#.streamlit/secrets.toml